adapter driver ftdi
ftdi vid_pid 0x0403 0x6011
ftdi channel 0
ftdi layout_init 0x0008 0x000b
ftdi layout_signal nTRST -data 0x10 -oe 0x10
ftdi layout_signal nSRST -data 0x20 -oe 0x20

reset_config srst_only srst_pulls_trst

transport select jtag
adapter speed 50

adapter srst delay 500
adapter srst pulse_width 500

jtag newtap soc cpu -irlen 4 -ircapture 0x01 -irmask 0x0f -expected-id 0x0792603f

target create arm9.0 arm926ejs -endian little -chain-position soc.cpu
arm9.0 configure \
    -work-area-phys 0x00300000 \
    -work-area-size 0x10000 \
    -work-area-backup 1
arm9.0 configure -event reset-start {
    adapter speed 50
    echo ">>> Slowing down adapter for reset"
}

arm9.0 configure -event reset-deassert-post {
    echo ">>> Reset deasserted, attempting early halt"
    
    for {set i 0} {$i < 50} {incr i} {
        if {[catch {halt 10}] == 0} {
            echo ">>> Successfully halted on attempt $i"
            break
        }
        sleep 10
    }
}

arm9.0 configure -event reset-init {
    echo ">>> reset-init: CPU halted"
    
    catch {arm926ejs disable-mmu}
    catch {arm926ejs disable-dcache}
    catch {arm926ejs disable-icache}
    
    echo ">>> Writing WDT_MR to disable reset"
    
    set WDT_MR 0xffffff84
    
    # Use mdw (memory display word) instead of mrw
    set val [lindex [mdw $WDT_MR 1] 1]
    echo [format "WDT_MR READ: 0x%08X" $val]
    
    set new_val [expr {($val & 0x00FFFFFF) | (1 << 12)}]
    echo [format "WDT_MR WRITE: 0x%08X" $new_val]
    
    # Use mww (memory write word)
    mww $WDT_MR $new_val
    
#    set verify [lindex [mdw $WDT_MR 1] 1]
#    echo [format "WDT_MR VERIFY: 0x%08X" $verify]
#    
#    if {($verify & (1 << 12)) != 0} {
#        echo ">>> SUCCESS: WD_DIS bit is set"
#    } else {
#        echo ">>> WARNING: WD_DIS bit did NOT set!"
#    }
    
    # Speed up after init
    adapter speed 1000
    echo ">>> Adapter speed increased to 1000 kHz"
}